# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#clion file
cmake-build-debug
.idea

#compiled files
*.pc
*.Plo
*.Po
*.deps
*.d
external/curl/build
external/libyuv-android-master/obj
external/fdk-aac-0.1.4/obj
Makefile.in
